{{#validurl}}
<div style="max-width: 800px; margin: auto;">
    <iframe
        src="https://drive.google.com/file/d/{{driveid}}/preview"
        width="100%"
        height="480"
        allow="autoplay; fullscreen"
        allowfullscreen
        sandbox="allow-scripts allow-same-origin"
        style="border:none;">
    </iframe>
</div>
{{/validurl}}

{{^validurl}}
<div class="alert alert-danger">{{invalidurl}}</div>
{{/validurl}}

<div class="videoplayer-description">
    {{{intro}}}
</div>
