{{!
    This file is part of Moodle - http://moodle.org/

    @template mod_videoplayer/resource

    Template for displaying an embedded Drive Resource.
}}
<div class="mod-videoplayer-container" data-resource-type="{{type}}" data-cmid="{{cmid}}">
    <div class="mod-videoplayer-meta mb-2">
        <span class="mod-videoplayer-meta-item">{{resourcetype}}</span>
        <span class="mod-videoplayer-meta-item">{{#str}} protectedresource, mod_videoplayer {{/str}}</span>
    </div>

    <div class="mod-videoplayer-frame-wrapper">
        <iframe
            src="{{iframeurl}}"
            allow="autoplay; fullscreen"
            allowfullscreen="allowfullscreen"
            sandbox="allow-scripts allow-same-origin"
            referrerpolicy="no-referrer"
            title="{{title}}"
            loading="lazy">
        </iframe>
    </div>
</div>
